/* Start Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --size-small: 18px;
    --size-big: 26px;
    --size-h-small: 28px;
    --size-h-big: 35px;
    --main-transition: 0.35s;
    --main-section-padding-top: 100px;
    --main-section-padding-bottom: 100px;
    --secondary-background-color: #ececec;
}

/* End Variables */
/* Start Components */
.main-title {
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px;
    border: 3px solid black;
    transition: 1s;
    z-index: 1;
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: 1s;
}

.main-title::before {
    left: -15%;
}

.main-title::after {
    right: -15%;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: white;
    border: 3px solid white;
    transition-delay: 0.5s;
}

/* End Components */
/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    line-height: 1.15;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0px 15px;
    margin: 0px auto;
}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Header */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: var(--size-big);
    font-weight: bold;
    height: 72px;

}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .mini-nav {
    display: flex;
}

@media (max-width:767px) {
    .header .mini-nav {
        margin: auto;
    }
}

.header .mini-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 10;
    top: calc(100% + 1px);
}

.header .mini-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    height: 72px;
    padding: 0px 30px;
    transition: var(--main-transition);
    overflow: hidden;
}

@media (max-width:767px) {
    .header .mini-nav>li>a {
        padding: 10px;
        font-size: 13px;
        height: 40px;
    }
}

.header .mini-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .mini-nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;
}

.header .mini-nav>li>a:hover::before {
    left: 0%;
}

.header .mega-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 30px;
    left: 0;
    top: calc(100% + 50px);
    gap: 40px;
    border-bottom: 5px solid var(--main-color);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
    z-index: -1;
}


@media (max-width:767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}

.header .mega-menu .image-menu img {
    max-width: 100%;
}

@media (max-width:991px) {
    .header .mega-menu .image-menu {
        display: none;
    }
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 2px solid #E9E6E6;
    }
}

.header .mega-menu .links li:not(:last-child) {
    position: relative;
    border-bottom: 2px solid #E9E6E6;
    overflow: hidden;
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    background-color: #fafafa;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    color: var(--main-color);
    font-size: var(--size-small);
    font-weight: bold;
    display: block;
    padding: 15px;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

/* End Header */
/* Start Landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    left: 0%;
    top: -40px;
    transform: skewY(-6deg);
    z-index: -1;
    transform-origin: left top;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.landing .content {
    flex: 1;
}

@media (max-width:991px) {
    .landing .content {
        text-align: center;
    }
}

.landing .content h1 {
    font-size: var(--size-h-big);
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width:767px) {
    .landing .content h1 {
        font-size: var(--size-h-small);
    }
}

.landing .content p {
    color: gray;
    font-size: 22px;
    line-height: 1.6;
    margin: 5px 0 0;
    max-width: 500px;
}

@media (max-width:991px) {
    .landing .content p {
        margin: 10px auto;
    }
}

@media (max-width:767px) {
    .landing .content p {
        font-size: var(--size-small);
    }
}


.landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
}

/* End Landing */
/* Start Articles */
.articles {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .content {
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 15px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .content:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 15px;
}

.articles .content img {
    max-width: 100%;
}

.articles .content .text {
    padding: 20px;
}

.articles .content .text h3 {
    margin: 0;
}

.articles .content .text p {
    font-size: var(--size-small);
    margin-top: 10px;
    color: gray;
}

.articles .content .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-small);
    padding: 20px;
    border-top: 1px solid rgb(236, 236, 236);
}

.articles .content .detail a,
.articles .content .detail i {
    color: var(--main-color);
    font-weight: bold;
}

.articles .content:hover .detail i {
    animation: go-right 0.5s infinite;
}

/* End Articles */
/* Start Gallery */
.gallery {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
    background-color: var(--secondary-background-color);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    background-color: white;
    padding: 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
}

.gallery .image {
    position: relative;
    overflow: hidden;
}

.gallery .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.2);
    transition: var(--main-transition);
    opacity: 0;
    z-index: 2;
}

.gallery .box:hover .image::before {
    animation: flashing 0.7s;
}

.gallery .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

/* End Gallery */
/* Start Features */
.features {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .content {
    border: 3px solid var(--secondary-background-color);
    text-align: center;
}

.features .container .image {
    position: relative;
    overflow: hidden;
}

.features .container .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 100%;
    height: 100%;
}

.features .container .image::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .content:hover .image::after {
    border-width: 0px 500px 170px 0px;
}

.features .container .image img {
    max-width: 100%;
}

.features .quality .image::before {
    background-color: rgba(244, 64, 54, 0.6);
}

.features .time .image::before {
    background-color: rgba(0, 150, 136, 0.6);
}

.features .passion .image::before {
    background-color: rgba(3, 169, 244, 0.6);
}

.features .content h2 {
    font-size: var(--size-h-big);
    margin: auto;
    width: fit-content;
    position: relative;
}

.features .content h2:after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: -15px;
    width: calc(100% - 30px);
    height: 5px;
}

.features .content p {
    font-size: var(--size-small);
    color: #777;
    margin: 30px 0px;
    line-height: 2;
    padding: 20px;
}

.features .content>a {
    display: block;
    border-style: solid;
    border-width: 3px;
    width: fit-content;
    padding: 5px 20px;
    margin: 0px auto 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: var(--size-small);
    transition: var(--main-transition);
    position: relative;
}

.features .content>a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
}

.features .quality a {
    border-color: rgba(244, 64, 54);
    color: rgba(244, 64, 54);
    background: linear-gradient(to right, rgba(244, 64, 54) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time a {
    border-color: rgba(0, 150, 136);
    color: rgba(0, 150, 136);
    background: linear-gradient(to right, rgba(0, 150, 136) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion a {
    border-color: rgba(3, 169, 244);
    color: rgba(3, 169, 244);
    background: linear-gradient(to right, rgba(3, 169, 244) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .content:hover a {
    background-position: left bottom;
    color: white;
}

/* End Features */
/* Start Testimonials */
.testimonials {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
    background-color: var(--secondary-background-color);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonials .content img {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(10%, -50%);
    border-radius: 50%;
    width: 100px;
    border: 10px solid var(--secondary-background-color);
}

.testimonials .content h3 {
    color: var(--main-color);
    font-size: var(--size-small);
    margin-bottom: 15px;
}

.testimonials .content span {
    display: block;
    font-size: var(--size-small);
    margin-bottom: 10px;
    color: #333;
}

.testimonials .content .rate .filled {
    color: #ffc107;
    margin-bottom: 20px;
}

.testimonials .content p {
    color: #777;
    line-height: 1.5;
    margin: 10px 0px 0px;
}

/* End Testimonials */
/* Start Team Members */
.members {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
}

.members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.members .content {
    position: relative;
}

.members .content::before,
.members .content::after {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    height: 100%;
    border-radius: 10px;
    right: 0;
    top: 0;
    transition: var(--main-transition);
}

.members .content::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.members .content::after {
    background-color: #e4e4e4;
    z-index: -1;
    width: 0;
}

.members .content:hover::after {
    width: calc(100% - 60px);
}

.members .content .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.members .data img {
    width: 300px;
    max-width: calc(100%- 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.members .content:hover .data img {
    filter: grayscale(100%);
}

.members .data .icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60px;
    gap: 15px;
}

.members .data .icons a {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
    cursor: pointer;
}

.members .data .icons a:hover i {
    color: var(--main-color-alt);
}

.members .data .icons i {
    color: #777;
}

.members .text {
    margin-left: 60px;
    padding: 20px;
}

.members .text h3 {
    font-size: var(--size-h-small);
    color: var(--main-color);
    transition: var(--main-transition);
}

.members .content:hover .text h3 {
    color: black;
}

.members .text p {
    margin: 10px 0px 15px;
}

/* End Team Members */
/* Start Services */
.services {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
    background-color: var(--secondary-background-color);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .content {
    position: relative;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0, 0, 0, 0.13), 0px 2px 4px 0px rgb(0, 0, 0, 0.12);
    -webkit-counter-increment: services;
    -moz-counter-increment: services;
    counter-increment: services;
    transition: var(--main-transition);
}

.services .content::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    width: 0;
    transition: var(--main-transition);
}

.services .content:hover {
    transform: translateY(-10px);
}

.services .content:hover::before {
    width: 100%;
}

.services .content>i {
    display: block;
    margin: 30px auto 20px;
    text-align: center;
    color: #d5d5d5;
}

.services .content>h3 {
    color: var(--main-color);
    font-size: var(--size-big);
    text-align: center;
    margin: 20px 0 40px;
}

.services .content .info {
    position: relative;
    padding: 15px;
    text-align: right;
    background-color: #f9f9f9;
}

.services .content .info::before {
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    padding-right: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .content .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    left: 100px;
    width: 50px;
    top: 0px;
    height: calc(100% + 0.5px);
    transform: skewX(-30deg);
}

.services .content .info a {
    font-size: var(--size-small);
    color: var(--main-color);
}

/* End Services */
/* Start Skills */
.our-skills {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill>h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill>h3>span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 3px;
    color: var(--main-color);
}

.our-skills .skill .progress {
    height: 30px;
    background-color: #eee;
    margin: 20px 0px;
    position: relative;
}

.our-skills .skill .progress>span {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--main-color);
}

/* End Skills */
/* Start Works */
.work-steps {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
    background-color: var(--secondary-background-color);
}

.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.work-steps .image {
    max-width: 100%;
}

@media (max-width:991px) {
    .work-steps .container {
        flex-direction: column;
    }
}

.work-steps .info .content {
    display: flex;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

@media (max-width:991px) {
    .work-steps .info .content {
        flex-direction: column;
        text-align: center;
    }
}

.work-steps .info .content::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    transition: var(--main-transition);
    z-index: -1;
}

.work-steps .info .content:hover::before {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}

.work-steps .info .content img {
    width: 64px;
    margin-right: 30px;
}

@media (max-width:991px) {
    .work-steps .info .content img {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

.work-steps .info .content .text h3 {
    margin: 0;
    font-size: var(--size-small);
}

.work-steps .info .content .text p {
    color: #777;
    margin-top: 10px;
    line-height: 1.7;
    margin-top: 10px;
}

/* End Works */
/* Start Events */
.events {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events img {
    max-width: 450px;
}

@media (max-width:991px) {
    .events img {
        display: none;
    }
}

.events .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    transition: var(--main-transition);
}

.events .time .unit {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    transition: var(--main-transition);
}

.events .time .unit span {
    display: block;
    transition: var(--main-transition);
}

.events .time .unit span:first-child {
    font-size: var(--size-h-big);
    color: var(--main-color);
    padding: 15px 20px;
    font-weight: bold;
}

.events .time .unit span:last-child {
    font-size: 15px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
}

.events .time .unit:hover,
.events .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .info .title {
    font-size: var(--size-h-small);
    text-align: center;
    margin: 40px 0px 0px;
}

.events .info .description {
    text-align: center;
    margin-top: 30px;
    font-size: var(--size-small);
    line-height: 1.7;
    color: #777;
}

.events .subscribe {
    margin-top: 100px;
    width: 100%;
}

.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px) {
    .events .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.events .subscribe input[type="email"] {
    padding: 20px;
    border: none;
    flex: 1;
    border-radius: 50px;
    caret-color: var(--main-color);
}

@media (max-width:767px) {
    .events .subscribe input[type="email"] {
        border-radius: 0;
    }
}

.events .subscribe input[type="email"]:focus {
    outline: none;
}

.events .subscribe input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .subscribe input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe input[type="submit"] {
    border: none;
    border-radius: 50px;
    padding: 20px;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    cursor: pointer;
    transition: var(--main-transition);
}

@media (max-width:767px) {
    .events .subscribe input[type="submit"] {
        border-radius: 0;
    }
}

.events .subscribe input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* End Events */
/* Start Pricing */
.pricing {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
    background-color: var(--secondary-background-color);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing .content {
    text-align: center;
    background-color: white;
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
    z-index: 1;
    transition: var(--main-transition);
}

.pricing .content::before,
.pricing .content::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 0;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .content::before {
    top: 0;
    left: 0;
}

.pricing .content::after {
    top: 50%;
    right: 0;
}

.pricing .content:hover::before,
.pricing .content:hover::after {
    width: 100%;
}

@media (min-width:1200px) {
    .pricing .content.popular {
        top: -20px;
    }

}

.pricing .content.popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    right: 20px;
    padding: 10px 10px 40px 10px;
    width: 40px;
}

.pricing .content.popular .label::after {
    content: "";
    position: absolute;
    border-color: transparent transparent white;
    right: 0;
    bottom: -1px;
    border-style: solid;
    border-width: 20px;
}

.pricing .content .title {
    font-size: var(--size-h-small);
    font-weight: bold;
    margin: 30px 0px;
}

.pricing .content img {
    width: 80px;
    margin-bottom: 20px;
}

.pricing .content .price {
    margin-bottom: 20px;
}

.pricing .content .amount {
    display: block;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    width: 100%;
}

.pricing .content .time {
    color: #777;
}

.pricing .content ul {
    text-align: left;
}

.pricing .content ul li {
    padding: 20px;
    border-top: 1px solid #d4d4d4;
}

.pricing .content ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    color: var(--main-color);
    font-weight: bold;
    margin-right: 10px;
}

.pricing .content a {
    display: block;
    width: fit-content;
    font-weight: bold;
    padding: 15px 30px;
    margin: 40px auto;
    border-radius: 10px;
    border: 3px solid var(--main-color);
    color: var(--main-color);
    transition: var(--main-transition);
}

.pricing .content a:hover {
    color: white;
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
}

/* End Pricing */
/* Start Video */
.video {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
}

.video .container {
    display: flex;
}

.video .holder {
    background-color: var(--secondary-background-color);
    display: flex;
    border: 1px solid #dddddd;
    border-image: initial;
}

@media (max-width:991px) {
    .video .holder {
        flex-direction: column;
    }
}

.video .list {
    min-width: 300px;
    background-color: white;
}

.video .list .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 244, 244);
    padding: 20px;
}

.video .list .name span {
    font-weight: bold;
}

.video .list ul li {
    padding: 20px;
    background-color: white;
    border-top: 1px solid var(--secondary-background-color);
    cursor: pointer;
    transition: var(--main-transition);
}

.video .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color-alt);
}

.video .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777777;
}

.video .preview {
    display: flex;
    background-color: #e2e2e2;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.video .preview img {
    max-width: 100%;
}

.video .preview .info {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}


/* end Video */
/* Start Stats */
.stats {
    padding: var(--main-section-padding-top) 0px var(--main-section-padding-bottom);
    position: relative;
    background-image: url(../images/stats.jpg);
    background-size: cover;
    min-height: 300px;
}

.stats::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255, 0.90);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.stats h2 {
    position: relative;
    font-weight: bold;
    font-size: var(--size-h-big);
    width: fit-content;
    margin: 0px auto 50px;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.stats .content {
    position: relative;
    background-color: white;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: var(--main-transition);
}

.stats .content:hover {
    opacity: 1;
}

.stats .content::before,
.stats .content::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 0px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.stats .content::before {
    left: 0;
    top: 0;
}

.stats .content::after {
    bottom: 0;
    right: 0;
}

.stats .content:hover::before,
.stats .content:hover::after {
    height: 100%;
}

.stats .content i {
    margin: 0px 0px 20px;
}

.stats .content .number {
    font-size: 45px;
    margin: 0px 0px 20px;
    font-weight: bold;
}

.stats .content .text {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

/* end Stats */
/* Start Footer */
.footer {
    background-color: rgb(25, 25, 25);
    padding: 70px 0px 0px;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .content h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

@media (max-width:767px) {
    .footer .container {
        text-align: center;
    }
}

.footer .content .icons {
    display: flex;
}

@media (max-width:767px) {
    .footer .content .icons {
        justify-content: center;
        align-items: center;
    }
}

.footer .content .icons li {
    margin-right: 10px;
}

.footer .content .icons a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    transition: var(--main-transition);
    margin-bottom: 20px;
}

.footer .content .icons a:hover.facebook {
    background-color: #1877f2;
}

.footer .content .icons a:hover.twitter {
    background-color: #1da1f2;
}

.footer .content .icons a:hover.youtube {
    background-color: #ff0000;
}

.footer .content .text {
    color: #b9b9b9;
    line-height: 2;
}

.footer .content .links li {
    padding: 15px 0px;
    transition: var(--main-transition);
}

.footer .content .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .content .links li:hover {
    padding-left: 10px;
}

.footer .content .links li:hover a {
    color: white;
}

.footer .content .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}

.footer .content .links li a::before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: var(--main-color);
    margin-right: 10px;
}

.footer .content .links li:hover a::before {
    color: var(--main-color-alt);
}

.footer .content .line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

@media (max-width:767px) {

    .footer .content .line {
        flex-direction: column;
    }
}

.footer .content .line i {
    font-size: var(--size-big);
    margin-right: 30px;
    color: var(--main-color);
}

@media (max-width:767px) {
    .footer .content .line i {
        margin: 0px 0px 20px;
    }
}

.footer .content .line .info {
    color: #b9b9b9;
    flex: 1;
    line-height: 1.7;
}

.footer .content .line .info span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    margin: 2px;
    border: 3px solid white;
}

.footer .copyright {
    text-align: center;
    color: white;
    padding: 25px 0;
    margin: 50px 0 0;
    border-top: 2px solid #777;
}

/* End Footer */
/* Start Animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -60px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-20px);
    }

}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 51%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 51%;
        height: 100%;
    }
}

@keyframes go-right {

    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-10px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* End Animation */